/WebApplication_01/nbproject/private/
/WebApplication_01/build/
/WebApplication_02/nbproject/private/
/WebApplication_02/build/
/WebApplication_03a/nbproject/private/
/WebApplication_03a/build/
/WebApplication_03b/nbproject/private/
/WebApplication_03b/build/
/WebApplication_03c/nbproject/private/
/WebApplication_03c/build/
/WebApplication_03d/nbproject/private/
/WebApplication_03d/build/
/test1/nbproject/private/
/test1/build/
/WebApplication_03e/nbproject/private/
/WebApplication_03e/build/
/WebApplication_03f/nbproject/private/
/WebApplication_03f/build/
/WebApplication_04a/nbproject/private/
/WebApplication_04a/build/
/WebApplication_04b/nbproject/private/
/WebApplication_04b/build/
/WebApplication_04c/nbproject/private/
/WebApplication_04c/build/
/WebApplication_05a/nbproject/private/
/WebApplication_05a/build/
/WebApplication_06/nbproject/private/
/WebApplication_06/build/
/WebApplication_07_JSP_a/nbproject/private/
/WebApplication_07_JSP_a/build/
/WebApplication_07_JSP_b/nbproject/private/
/WebApplication_07_JSP_b/build/
/WebApplication_07_JSP_c/nbproject/private/
/WebApplication_07_JSP_c/build/
/WebApplication_08/nbproject/private/
/WebApplication_08/build/
/WebApplication_09/nbproject/private/
/WebApplication_09/build/
/WebApplication_10/nbproject/private/
/WebApplication_10/build/
/WebApplication_Project/nbproject/private/
/WebApplication_Project/build/
/WebApplication_Project/dist/
/WebApplication_11/nbproject/private/
/WebApplication_11/build/
/WebApplication_12/nbproject/private/
/WebApplication_12/build/
/WebApplication_Workshop1/nbproject/private/
/WebApplication_Workshop1/build/